:root {
  --bgColor: #020617;
  --bgColor2: rgba(18, 22, 39, 0.8);
  --bgColor3: rgba(255, 255, 255, 0.05);
  --bgColor4: rgba(18, 22, 39, 1);
  --bgColor5: rgba(255, 255, 255, 0.1);
  --textColor: #ffffff;
  --subTextColor: #94a3b8;
  --redColor: #db2828;
  --gradientColor: linear-gradient(270.33deg, #d9c4af -70.15%, #ffffff 97.57%);
  --textBtnColor: #090909;
  --headerHeight: 82px;
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 16px;
  isolation: isolate;
}

.text-single {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.btn {
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--gradientColor);
  color: var(--textBtnColor);
  font-weight: 500;
  font-style: 16px;
  border: none;
  outline: none;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}

/* STYLE MODAL */
.modal__body::-webkit-scrollbar {
  /*thu hẹp thanh kéo lên kéo xuống*/
  width: 4px;
}

.modal__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal__body::-webkit-scrollbar-thumb {
  background-color: var(--subTextColor);
}

/* NOT FOUND STYLES */
.not-found {
  padding-block: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.5;
}

.not-found img {
  height: 200px;
}

.not-found span {
  text-align: center;
}
/* end NOT FOUND STYLES */

/* Giao diện Mobile và Table */
@media only screen and (max-width: 1023px) {
  .form__heading {
    font-size: 26px;
  }

  .form__image-preview,
  .form__upload-group {
    max-width: 100%;
    width: 100%;
    height: 120px;
  }
}

/* Giao diện mobile */
@media only screen and (max-width: 739px) {
  .btn {
    padding: 8px 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
  }

  .not-found img {
    height: 150px;
  }

  .form__heading {
    font-size: 26px;
  }
}
